<div class="footer container">
    <a href="https://www.facebook.com/hibari.sv">
        <div class="footer-link__fb">
            <i class="fa-brands fa-facebook"></i>
            Facebook
        </div>
    </a>
    <a href="https://www.facebook.com/hibari.sv">
        <div class="footer-link__fb">
            <i class="fa-brands fa-facebook-messenger"></i>
            Messenger
        </div>
    </a>
    <a href="https://www.instagram.com/duphanba/">
        <div class="footer-link__fb">
            <i class="fa-brands fa-instagram"></i>
            Instagram
        </div>
    </a>
</div>
