<div class="nav container">
    <a href="https://www.facebook.com/hibari.sv" class="logo">
        <i class=" fa-solid fa-paw"></i>
        Meow
    </a>
    <!-- Cart-Icon -->
    <i class="fa-solid fa-bag-shopping" id="cart-icon"></i>
    <!-- Cart -->
</div>